$dark: #323232;
$light: #F5F5F5;

$blue: #3F4CBA;
$blue-50: #707AD4;

$purple: #452344;
$purple-50: #BD84BB;

$pink: #AD6687;
$pink-50: #FFDFEE;

$orange: #E16654;
$orange-50: #EB9E92;

$yellow: #EFB64F;
$yellow-50: #F0E390;

$green: #47B29E;
$green-50: #8ED1C5;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;